:root {
  --primary-color: #247ba0;
  --secondary-color: #70c1b3;
  --tertiary-color: #b2dbbf;
  --border-primary-color: #e3f1fa;
  --border-secondary-color: #ffedab;
  --white-color: #fff;
  --blue-card: #c7eeff;
  --gray-card: #dce4ea;
}

body {
  font-family: "poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafdfe;
}
a {
  text-decoration: none;
}
.header-btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 300;
  transition: all 0.3s ease;
}
.main-img {
  width: 600px;
  height: 400px;
  object-fit: contain;
}
.prayer-banner {
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 20px;
  font-weight: 300;
}
.prayer-header {
  color: var(--white-color);
  padding: 10px 20px;
  font-size: 1.5em;
}
.prayer-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  display: table;
  color: var(--white-color);
}
.prayer-table th,
.prayer-table td {
  border: 1px solid #ddd;
  padding: 18px;
  text-align: center;
  border-radius: 0;
}
.prayer-table td.active {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: bold;
}
.article-row {
  border: 10px solid var(--border-primary-color);
  border-radius: 28px;
}
/* Start School */
.school {
  margin-top: 25px;
}
/* End School */
/* Start About */
.about-content {
  background-color: var(--border-secondary-color);
  border-radius: 28px;
  padding: 20px;
}
/* Start Blogs */
.blogs {
  background-color: var(--blue-card);
  border-radius: 28px;
}
.blogs-content {
  background-color: var(--white-color);
  border-radius: 28px;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}
/* End Blogs */
/* Start Footer */
.footer-icon svg {
  color: var(--primary-color);
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  max-width: 1400px;
  margin: 0 auto;
}
/* End Footer */
